<section class="section">
		<div class="container">

			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">Developpement</h2>
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url 'articles'  %}" class="read-more">View All</a></div>
			</div>

			<div class="row">
				{% for article in recent_dev1 %}
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						{% if article.image  %}
						<a href="{% url 'detail_article' article.pk %}" class="img-link">
							<img src="{{article.image.url}}" alt="{{article.titre}}" class="img-fluid">
						</a>
						{% endif %}
						<div class="excerpt">


							<h2><a href="{% url 'detail_article' article.pk %}">{{article.titre}}</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 me-3 float-start">
									{% if article.auteur.photo  %}
									<img src="{{article.auteur.photo.url}}" alt="Image" class="img-fluid">
									{% endif %}
								</figure>
								<span class="d-inline-block mt-1">By <a href="#">
									{% if article.auteur.username  %}
									{{article.auteur.username}}
									{% else %}
									{{article.auteur.first_name}} {{article.auteur.last_name}}
									{% endif %}
								</a></span>
								<span>&nbsp;-&nbsp;{{article.created}}</span>
							</div>
							<p>{{article.body|truncatechars:100}}</p>
							<p><a href="{% url 'detail_article' article.pk %}" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</section>